<app-index-navbar></app-index-navbar>
<section class="header items-center flex  " style="margin-top: 7rem;margin-bottom: 7rem;">
  <div class="container mx-auto px-4 flex flex-wrap" *ngFor="let resto of dataPlats">
    <!-- <template *ngFor="let resto of dataPlats"> -->
    <!-- <template *ngFor="let plat of resto.plats"> -->
    <div class="w-full md:w-4/12 px-4 text-center"
      *ngFor="let plat of resto.plats">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8
        shadow-lg rounded-lg">
        <div class="px-4 py-5 flex-auto">

          <img class="w-full align-middle rounded-t-lg" src="{{plat.photo}}" alt="" height="200">


          <h4 class="text-xl font-semibold">{{plat.nom}}</h4>
          <h6 class="text-xl font-semibold">{{plat.prixVente}}</h6>
          <p class="mt-2 mb-4 text-blueGray-500">
            {{plat.description}}
          </p>
        </div>
      </div>
    </div>
    <!-- </template> -->
    <!-- </template> -->

  </div>

</section>

<app-footer></app-footer>
